allow qti_init_shell bluetooth_loader_exec:file rx_file_perms;
allow qti_init_shell sysfs_mmi_touch:dir search;
allow qti_init_shell sysfs_mmi_touch:file rw_file_perms;
